<section class="hero">
    <div class="container">
        <div class="row">
            <div class="hero-title">
                <div class="col-12 col-sm-6 offset-sm-3">
                    <h1 class="display-1 text-center">DashBoard</h1>
                </div>
                <div class="hero-subtitle">
                    <p class="lead">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime inventore dolorem voluptas eveniet aspernatur deserunt, assumenda beatae nobis voluptates sapiente molestias, debitis saepe illum sit voluptatum vel autem quasi et.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>