<div class="container">
    <div class="row">
        <div class="col-12 col-sm-6 offset-sm-3">
            <h1 class="display-1 text-center">Accueil</h1>
        </div>
        <div class="jumbotron">
            <p class="lead">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime inventore dolorem voluptas eveniet aspernatur deserunt, assumenda beatae nobis voluptates sapiente molestias, debitis saepe illum sit voluptatum vel autem quasi et.
            </p>
        </div>
    </div>
</div>