<div class="login background-gradient">
    <div class="container-fluid">
    <% if ( msg.length > 0 ) { %>
        <p>Message: <%= msg %> </p>
    <% } %>
        <div class="row">
            <div class="col-6 no-padding">
                <div class="login-container">
                    <h1>Connexion</h1>
                    <div class="container">
                        <form action="" method="POST" class="login-form">
                            <input type="email" name="email" id="input-login-email" placeholder="Email...">
                            <input type="password" name="password" id="input-login-password" placeholder="Password...">
                            <button class="btn btn-login" id="btn-log-in">Login</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-6 no-padding">
                <div class="register-container">
                    <h1>Inscription</h1>
                    <div class="container">
                        <form action="/register" method="POST" class="register-form">
                            <input type="email" name="email" id="input-register-email" placeholder="Email...">
                            <input type="password" name="password1" id="input-register-password" placeholder="Password...">
                            <input type="password" name="password2" id="input-register-password2" placeholder="Repeat password...">
                            <button class="btn btn-login" id="btn-register">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>