<div class="login background-gradient">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 no-padding">
                <div class="login-container">
                    <% if (message.length > 0) { %>
                        <div class="alert alert-danger text-center" role="alert">
                            <%= message %>
                        </div>
                    <% } %>
                    <h1>Inscription</h1>
                    <div class="container">
                        <form action="" method="POST" class="login-form">
                            <input type="text" name="username" id="input-login-username" placeholder="Username...">
                            <input type="password" name="password" id="input-login-password" placeholder="Password...">
                            <input type="password" name="confirmPassword" id="input-login-confirmPassword" placeholder="Confirm...">
                            <button class="btn btn-login" id="btn-log-in" type="submit">Sign Up</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>