<h1> WIDGETS </h1>

<form action="/logout" method="POST">
	<button id="btn-log-out" class="btn btn-action"> Log Out </button>
</form>

<div class="gridster ready">
    <ul>
        <!-- <li class="gs-w red" data-row="1" data-col="1" data-sizex="1" data-sizey="1"><span class="gs-resize-handle gs-resize-handle-both"></span></li>
        <li class="gs-w red" data-row="2" data-col="1" data-sizex="1" data-sizey="1"><span class="gs-resize-handle gs-resize-handle-both"></span></li>
        <li class="gs-w red" data-row="3" data-col="1" data-sizex="1" data-sizey="1"><span class="gs-resize-handle gs-resize-handle-both"></span></li>

        <li class="gs-w red" data-row="1" data-col="2" data-sizex="2" data-sizey="1"><span class="gs-resize-handle gs-resize-handle-both"></span></li>
        <li class="gs-w red" data-row="2" data-col="2" data-sizex="2" data-sizey="2"><span class="gs-resize-handle gs-resize-handle-both"></span></li>

        <li class="gs-w red" data-row="1" data-col="4" data-sizex="1" data-sizey="1"><span class="gs-resize-handle gs-resize-handle-both"></span></li>
        <li class="gs-w red" data-row="2" data-col="4" data-sizex="2" data-sizey="1"><span class="gs-resize-handle gs-resize-handle-both"></span></li>
        <li class="gs-w red" data-row="3" data-col="4" data-sizex="1" data-sizey="1"><span class="gs-resize-handle gs-resize-handle-both"></span></li>

        <li class="gs-w red" data-row="1" data-col="5" data-sizex="1" data-sizey="1"><span class="gs-resize-handle gs-resize-handle-both"></span></li>
        <li class="gs-w red" data-row="3" data-col="5" data-sizex="1" data-sizey="1"><span class="gs-resize-handle gs-resize-handle-both"></span></li>

        <li class="gs-w red" data-row="1" data-col="6" data-sizex="1" data-sizey="1"><span class="gs-resize-handle gs-resize-handle-both"></span></li>
        <li class="gs-w red" data-row="2" data-col="6" data-sizex="1" data-sizey="2"><span class="gs-resize-handle gs-resize-handle-both"></span></li>
		  -->
    </ul>
</div>