<h1> WIDGETS </h1>

<form action="/logout" method="POST">
	<button id="btn-log-out" class="btn btn-action"> Log Out </button>
</form>

<button id="btn-widget" class="btn btn-action"> Add widget </button>

<div class="gridster ready" id="widgetsArray">
    <ul>
    </ul>
</div>