.bg-dark-blue {
    background: #0d3b66;
    color: white;
}
.bg-light-orange {
    background: #EE964B;
}
.bg-salmon {
    background: #F95738;
    color: white;
}
.bg-red {
   background: #DC493A;
   color: white;
}
.bg-blue {
    background: #016FB9;
    color: white;
}
.bg-green {
    background: #2BA84A;
    color: white;
}