html,
body {
    height: 100%;
}

.footer {
    // position: absolute;
    // width: 100%;
    // bottom: -200px;
    // height: 200px;
    // left: 0;
    // right: 0;
}

main {
    min-height:100%;
    margin:0 auto;
    position:relative;
}