@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Nunito:300,400,600');
@import './bootstrap/bootstrap.scss';
@import './footer.scss';
@import './header.scss';
@import './colors.scss';

html {
    min-height: 100%;
    position: relative;
}

.login-container,
.register-container {
    margin-top: 150px;
    font-family: 'Nunito';
}

.no-padding {
    padding: 0;
}

.background-gradient {
    background-image: linear-gradient(to right top, #264b83, #006ea1, #0090b3, #00b1b8, #55d1b6);
}

.login {
    min-height: 100vh;
}


.login-container,
.register-container {
    background: rgba(255, 255, 255, 0.2);
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    border-radius: 5px;
    h1 {
        text-align: center;
        margin-bottom: 25px;
        color: #333;
    }
}


.login-form,
.register-form {
    input {
        padding: 8px 10px;
        border: none;
        display: block;
        margin: 0 auto;
        margin-top: 15px;
        margin-bottom: 15px;
        width: 75%;
    }

    button {
        display: block;
        width: 75%;
        margin: 0 auto;
        // background: #2b4647;
        color: #333;
        &:hover {
            background: #ccc;
        }
    }
}

.gridster {
    li {
        list-style: none;
        border-radius: 20px;
        overflow: hidden;
        border: 5px solid #cccccc;
        background-color: white;
        color: #909090;
        font-size: 2rem;
        text-align: center;

        border: 1px solid black;
        border-radius: 2px;
        box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);

    }
}

.btn-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    padding: 6px 0;
    font-size: 15px;
}

.m-card {
    font-family: 'Nunito';
    border: 1px solid #bbbbbb;
    margin-bottom: 15px;
    .m-card-header {
        padding: 20px 10px;
        font-weight: bold;
        .m-card-title {
            font-size: 24px;
        }
    }
    .m-card-body {
        padding: 10px;
    }

}

small {
    margin-left: 10px;
}