<footer class="footer font-small bg-dark pt-4" style="color: white;">
    <div class="container-fluid text-center text-md-left">
      <div class="row">
        <div class="col-md-6 mt-md-0 mt-3">
          <h5 class="text-uppercase">Dashboard</h5>
            <p>Personnaliser votre dashboard pour suivre vos centre d'intérêts.</p>
        </div>
        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="col-md-3 mb-md-0 mb-3">
            <ul class="list-unstyled">
              <li>
                <a href="/">Accueil</a>
              </li>
              <% if (!isAuthenticated) { %>
                <li>
                  <a href="/profile">Profile</a>
                </li>
                <li>
                  <a href="/widgets">Widgets</a>
                </li>
                <li>
                  <a href="/logout">Déconnexion</a>
                </li>
              <% } else { %>
                <li>
                    <a href="/signup">Se connecter</a>
                  </li>
                <li>
                  <a href="/signin">S'enregistrer</a>
                </li>
              <% } %>
            </ul>
          </div>
      </div>
    </div>
  </footer>